<template>
  <v-app>
    <div class="top">
      <div class="d-flex head-top wrapper">
        <div class="d-flex contact">
          <v-icon class="top-icon" color="#00B1DF">mdi-phone</v-icon> <p class="contecter">+976 80248857</p>
        </div>
        <div class="contact">
          <v-icon class="top-icon" color="#00B1DF">mdi-email</v-icon> <p class="contecter">18B1NUM0517@stud.num.edu.mn</p>
        </div>
      </div>
    </div>
    <header class="d-flex center header">
      <div class="wrapper header-main">
        <div class="menus">
          <ul class="nav-menus">
            <li class="nav-menu"><img src="" alt="" /> LOGO </li>
            <li class="nav-menu">Энтэртайнмент</li>
            <li class="nav-menu">Мэдээ</li>
            <li class="nav-menu">Боловсрол</li>
          </ul>
        </div>
        <div class="search-con">
          <input class="search" placeholder="Хайх зүйлээ энд бичнэ үү" type="search" />
          <v-icon color="#FDDB2F">mdi-magnify</v-icon>
        </div>
      </div>
    </header>
    <nav class="d-flex">
      <div class="nav wrapper">
        
      </div>
    </nav>
    <v-main>
      <v-router />
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    //
  }),
};
</script>
<style scoped>

nav{
  width: 100%;
  
}

.nav{
  border-left: 3px #FDDB2F solid;
}

.search{
  border: 1px solid #FDDB2F;
  border-radius: 11px;
  opacity: 1;
  outline: none;
  padding: 4px 10px;
  width: 514px;
}

.top{
  display: flex;
  width: 100%;
  background-color: #FDDB2F;
  height: 58px;
  align-items: center;
  justify-content: center;
}
.wrapper{
  max-width: 1600px;
}
.head-top{
  flex-direction: row-reverse;
  align-items: flex-end;

}

.contact{
  width: fit-content;
  flex-wrap: nowrap;
  margin: 0px 0px 0px 40px;
}
.contecter{
  text-align: left;
  font: normal normal normal 15px/18px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  display: inline-flex;
  margin: 20px 0px !important;
}

header{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF;
  opacity: 1;
  height: 137px;
}

.center{
  align-items: center;
  justify-content: center;
}

.header-main{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-menu{
  text-align: left;
  font: normal normal normal 26px/32px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  width: fit-content;
  padding: 0px 20px;

}

.nav-menus{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.top-icon{
  width: 22px;
}

.search-con > *{
  margin-left: 20px;
}
</style>